*{
  font-size: 16px;
  margin: 0;
}
body{
  height: 100vh;
  width: 100%;
}


/*-------------- Login form--------- */
.login-container{
  background-color: #0B0E12 ;
  height: 100Vh;
  width: 100vw;
}
.login-box{
  background-color: #0E151B !important;
}
/*-------------- Login form--------- */

textarea:focus, input:focus{
  outline: none;
}
.line{
  font-size: 20px;
  color: antiquewhite;
}


@media only screen and (max-width: 600px) {
  *{
    font-size: 5px;
    margin: 0;
  }
}

/* Extra small devices (phones, 600px and down) */


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    font-size: 8px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    font-size: 10px;
  }
}

.white{
  color: aliceblue;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    font-size: 20px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    font-size: 22px;
  }
}

.filter:hover{
  cursor: pointer;
  background-color: #f3f3f3;
  border-radius: 0.3rem;
  
}
.sidebar{
  height: 100%;
  min-width: 18rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0E151B
  ;
  overflow-x: hidden;
  padding-top: 20px;
}
.main{
  max-width: 100%;
  width: 100vw;
  margin-left: 18rem;
  height: 100%;
  background: #0B0E12;
  padding: 2rem 0;
}
.card-btn{
  text-align: center !important;
  padding: 0.8rem !important;
  width: 50% !important;
  padding-left: 4rem;
  
}
.blue{
  background: #335DD2 !important;
}
.grey{
  background: #121A21 !important;
}

link :active{
  background: #000;
}